label {
  display: block;
  text-align: left;
  text-transform: capitalize;
}
input,
textarea {
  display: block;
  max-width: 600px;
  width: 100%;
  margin: 10px 0;
  text-align: left;
}
.buttons {
  max-width: 600px;
  width: 100%;
  margin: 10px 0;
}
